.img-carousel{
    height: calc (50vh - 76px);
    object-fit: cover;
    width: 100%;
    display:block
    
}

.img-carta{
    height: 300px;
    object-fit: cover;
}

@media(max-width: 1200px){
    
    body{
        background-color: red;
    }
}
@media(max-width: 992px){
    
    body{
        background-color: blue;
    }
}

.caja{
    position: relative;
    top:-60px
}